body {
    color: black !important;
}

.bg-ghostir {
    background-color: #f6f7f9 !important;
}

.twitch-go-sidebar .sidebar-button {
    background-color: #f1f1f1 !important;
}

.twitch-go-navbar {
    background-color: #fefefe !important;
    box-shadow: rgb(0 0 0 / 15%) -3px 1px 2.6px !important;
}

.twitch-go-content {
    background-color: #fefefe !important;
}

.stream-item-information {
    color: black !important;
}

.twitch-go-category-container .category-item {
    color: black !important;
}

.category-item .category-name {
    font-weight: 600;
}

.twitch-go-navigation {
    background-color: #fefefe !important;
}

.twitch-go-search-placeholder {
    color: black !important;
}

.placeholder {
    background-color: #000000 !important;
}

input[type='search'] {
    color: black !important;
}

input[type='number'] {
    color: black !important;
}

.badge {
    color: black !important;
}

.stream-action-container.right .notification {
    background-color: #772ce86e !important;
}

.stream-action-container.left .notification {
    background-color: #772ce86e !important;
}

.stream-action-container.right .favorite {
    background-color: #d39e0185;
}

.stream-action-container.left .favorite {
    background-color: #d39e0185;
}

.avatar-container {
    color: black !important;
}

.avatar-container small {
    color: #fff;
}