body {
    color: black !important;
}

.bg-ghostir {
    background: #fefefe !important;
}

.twitch-go-sidebar {
    background-color: #f4f7fb;
}

.twitch-go-sidebar .sidebar-button {
    color: black !important;
    box-shadow: none !important;
    background-color: #f1f1f1 !important;
}

.twitch-go-sidebar .sidebar-button.active {
    background-color: #772ce894 !important;
}

.twitch-go-sidebar .sidebar-button.active:hover, .twitch-go-sidebar .sidebar-button:hover {
    color: #772ce894 !important;
}

.twitch-go-navbar {
    background-color: #fefefe !important;
    box-shadow: rgb(0 0 0 / 15%) -3px 1px 3px !important;
}

.twitch-go-input-append {
    box-shadow: none;
}

.twitch-go-input-append:hover {
    background-color: #772ce838;
    color: #772ce8;
}

.stream-item-information {
    color: black !important;
}

.twitch-go-category-container .category-item {
    color: black !important;
}

.twitch-go-navigation {
    background-color: #fefefe !important;
    box-shadow: none !important;
}

.twitch-go-navigation-list .navigation-list-button {
    background-color: transparent !important;
}

.twitch-go-navigation-list .navigation-list-button.active {
    color: #772ce8 !important;
}

.twitch-go-search-placeholder {
    color: #00000038 !important;
}

.placeholder {
    background-color: #00000038 !important;
}

.twitch-go-navbar {
    box-shadow: rgb(0 0 0 / 4%) -3px 1px 3px !important;
}

input[type='search'] {
    color: black !important;
}

input[type='number'] {
    color: black !important;
}

.badge {
    color: black !important;
}

.stream-action-container.left .notification {
    color: black;
}

.stream-action-container.right .notification {
    color: black;
}

.stream-action-container.left .favorite {
    color: black;
}

.stream-action-container.right .favorite {
    color: black;
}

.avatar-container {
    color: black !important;
}

.avatar-container small {
    color: #fff;
}